---
layout: default
title: Viostream Packages
excerpt: Viostream is an end-to-end video solution that simplifies the sourcing, hosting and management of streaming video securely in the cloud.
permalink: /pricing/
---

<div class="banner text-center">
    <div class="container-fluid">
    	<div class="container hero-text">
	       <h1 class="main-title t-white m-b-40">Viostream Packages</h1>
	       <p class="hero-subtitle-small t-white">Viostream is an end-to-end video solution that simplifies the sourcing, hosting and management of streaming video securely in the cloud.
	       </p>
	       <p class="hero-subtitle-small t-white">
	       Engage audiences inside or outside your corporate network with searchable, interactive content, scalable video delivery and compliant security features.</p>
       </div>
    </div>
</div>
<div class="container">
	<div class="row section-p">
		<section class="pricing-section col-md-12">
	        <div class="pricing">
	        	<div class="pricing-selector">
	        		<div class="select">
			        	<select class="form-control calculate" id="size" name="size">
			        	    <option data-price="1000" data-vod="2" data-vodlive="3" value="Small">1-1000 Users</option>
			        	    <option data-price="2000" data-vod="1.75" data-vodlive="2.65" value="Medium">2000 Users</option>
			        	    <option data-price="3000" data-vod="1.5" data-vodlive="2.25" value="Large">3000 Users</option>
			        	    <option data-price="4000" data-vod="1.35" data-vodlive="2" value="Large">4000 Users</option>
			        	    <option data-price="5000" data-vod="1.25" data-vodlive="1.75" value="Large">5000+ Users</option>
			        	</select>
			        </div>
		        </div>
	            <div class="pricing-item team">
	                <div class="pricing-deco">
	                    <h3 class="pricing-title uppercase">Team</h3>
	                    <h4 class="pricing-package-name uppercase"><strong>Video on demand</strong></h4>
		                    <div class="pricing-circle-wrapper">
		                    	<div class="pricing-circle">
				                    <div class="pricing-price">
				                    	<span class="pricing-currency">$</span><span class="item-price-vod">2.00</span>
				                    </div>
				                    <div class="pricing-per-user">Per user (AUD)</div>
				                   <div class="pricing-price-monthly">Monthly $<span class="item-price-vod-monthly">2000</span></div>
				             	</div>
		                  	</div>
	                </div>
	                <ul class="pricing-feature-list">
	                    <li class="pricing-feature">Control who can see your content and track their viewing</li>
	                    <li class="pricing-feature">Authenticate viewers with their corporate network credentials (SSO)</li>
	                    <li class="pricing-feature">Customise and publish video galleries and playlists</li>
	                    <li class="pricing-feature">Make the dialogue in your videos searchable with interactive transcripts</li>
	                    <li class="pricing-feature">Add clickable in-video links</li>
	                    <li class="pricing-feature">Video chapters to make longer videos user friendly</li>
	                    <li class="pricing-feature">Analytics dashboard for intelligent audience insight</li>
	                    <li class="pricing-feature">Unlimited secure video storage and bandwidth</li>
	                    <li class="pricing-feature">1:1 tech and account support</li>
	                </ul>
	                
	                <a href="/request-a-demo/" class="btn btn-primary btn-lined uppercase pricing-action" aria-label="Takes to free trial form page" title="Free trial button">Get Started</a>
	                <div class="pricing-comp-link"><a href="/pricing-compare/">See the full list of Viostream features</a></div>
	                <div class="pricing-trial-time"><em>Includes</em>
	                30 Days Free Trial</div>
	            </div>
	            <div class="pricing-item pricing-item-featured professional">
	                <div class="pricing-deco">
	                	<h3 class="pricing-title uppercase">Professional</h3>
	                	<h4 class="pricing-package-name uppercase"><strong>Video on demand + Live</strong></h4>
	                		<div class="pricing-circle-wrapper">
	                			<div class="pricing-circle">
				                    <div class="pricing-price">
				                    	<span class="pricing-currency">$</span><span class="item-price-vod-live">3.00</span>
				                    </div>
				                    <div class="pricing-per-user">Per user (AUD)</div>
				                    <div class="pricing-price-monthly">Monthly $<span class="item-price-vod-live-monthly">3000</span></div>
				                </div>
			                </div>
	                </div>
	                <ul class="pricing-feature-list">
	                    <li class="pricing-feature no-border"><strong class="dark-txt">Everything you get in Viostream TEAM package plus:</strong></li>
	                    <li class="pricing-feature">Unlimited live video streaming</li>
	                    <li class="pricing-feature">Manage live events with Event Director function</li>
	                    <li class="pricing-feature">Design and publish your own live event site</li>
	                    <li class="pricing-feature">Interactive Q&A module with audience voting, polls & surveys</li>
	                    <li class="pricing-feature">Synchronise PowerPoint slides with your presentation</li>
	                    <li class="pricing-feature">Mobile live encoder, just plug your camera in</li>
	                    <li class="pricing-feature">Support for successful live events is available</li>
	                </ul>
	                
	                <a href="/request-a-demo/" class="btn btn-primary btn-lined uppercase pricing-action" aria-label="Takes to free trial form page" title="Free trial button">Get Started</a>
	                <div class="pricing-comp-link"><a href="/pricing-compare/">See the full list of Viostream features</a></div>
	                <div class="pricing-trial-time"><em>Includes</em>
	                30 Days Free Trial</div>
	            </div>
	            <div class="pricing-item enterprise">
	                <div class="pricing-deco">
	                	<h3 class="pricing-title uppercase">Enterprise</h3>
	                	<h4 class="pricing-package-name uppercase"><strong>Custom package</strong></h4>
	                    <div class="pricing-circle-wrapper">
	                    	<div class="pricing-circle">
	                    		<div class="pricing-text uppercase"><strong>Enquire now</strong></div>
	                    	</div>
	                    </div>
	                </div>
	                <ul class="pricing-feature-list">
	                    <li class="pricing-feature no-border"><strong class="dark-txt">Enterprise grade solution designed for the integration, security & scale requirements of large organisations:</strong></li>
	                    <li class="pricing-feature">Integrate with portals like SharePoint, Yammer or Learning Management System</li>
	                    <li class="pricing-feature">Multiple sub-accounts for internal departments</li>
	                    <li class="pricing-feature">Automate recording and storage of video or web conf sessions</li>
	                    <li class="pricing-feature">Developer API for flexible integrations</li>
	                    <li class="pricing-feature">Support large-scale streaming on corporate network with intelligent video distribution</li>
	                    <li class="pricing-feature">24/7 Premium Plus Support</li>
	                </ul> 
	                <a href="/enterprise-price-request/" class="btn btn-primary btn-lined uppercase pricing-action" aria-label="Takes to free trial form page" title="Free trial button">Talk to us</a>
	                <div class="pricing-comp-link"><a href="/pricing-compare/">See the full list of Viostream features</a></div>
	                <div class="pricing-trial-time"><em>Includes</em>
	                Limited Free Trial</div>
	            </div>
	        </div>
	    </section>
	</div>
	{% include faq.html %}
</div>
{% include intercom.html %}