<div class="container-fluid section-p" style="background-color: #006DB6;">
	<div class="text-center container">
		<h2 class="t-white cta-subtitle">Get started with Viostream</h2>
		<p class="t-white">Your journey with video begins here</p>
		<div class="align-center form-round">
			<!--[if lte IE 8]>
			<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
			<![endif]-->
			<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
			<script>
			  hbspt.forms.create({ 
			    portalId: '2878838',
			    formId: '2d33687a-e776-46fb-af23-6de73cdf1f7f'
			  });
			</script>
		</div>
		
		<!--<form class="form-inline align-center">
		  <label class="sr-only" for="inlineFormInput">Name</label>
		  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">
		
		  <label class="sr-only" for="inlineFormInputGroup">Username</label>
		  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		    <div class="input-group-addon">@</div>
		    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
		  </div>
		
		  <div class="form-check mb-2 mr-sm-2 mb-sm-0">
		    <label class="form-check-label">
		      <input class="form-check-input" type="checkbox"> Remember me
		    </label>
		  </div>
		
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>-->
		
		<p class="t-white">(One of our video experts will be in touch soon.)</p>
		
	</div>
</div>
