<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
	         <h3 class="uppercase">About</h3>
	         <ul>
	         	<li><a href="#" title="Pricing">Pricing</a></li>
	         	<li><a href="#" title="Customers">Customers</a></li>
	         	<li><a href="#" title="Blog">Blog</a></li>
	         	<li><a href="#" title="Executive team">Executive team</a></li>
	         	<li><a href="#" title="Careers">Careers</a></li>
	         </ul>
	       </div>
	       <div class="col-md-2">
	         <h3 class="uppercase">Support</h3>
	         <ul>
	         	<li><a href="#" title="Pricing">System status</a></li>
	         	<li><a href="#" title="Customers">Help center</a></li>
	         	<li><a href="#" title="Blog">Contact support</a></li>
	         	<li><a href="#" title="Executive team">Terms of service</a></li>
	         	<li><a href="#" title="Careers">Privacy policy</a></li>
	         </ul>
	       </div>
	       <div class="col-md-2">
	         <h3 class="uppercase">Get in touch</h3>
	         <ul>
	         	<li><a href="#" title="Pricing">General inquiry</a></li>
	         	<li><a href="#" title="Customers">Get a trial</a></li>
	         	<li><a href="#" title="Blog">Contact sales</a></li>
	         </ul>
	       </div>
		</div>
		<div class="row">
			<div class="col-md-12">
					<div class="footer-info">
			  		<p class="social-links">
			  			<a href="https://www.facebook.com/viocorp/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
			  			<a href="https://twitter.com/viostream" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
			  			<a href="https://www.linkedin.com/company/viostream" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
			  		</p>
			    		<p class="copyright align-text-bottom">&copy; {{ site.time | date: '%Y' }} Viocorp International Pty. Ltd. All rights reserved.</p>
					</div>
			</div>
		</div>
	</div>

</footer>
