<footer class="site-footer" role=”contentinfo”>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
	         <h3 class="uppercase">Company</h3>
	         <ul>
	         	<li><a href="/pricing" aria-label="Takes to pricing page" title="Pricing">Pricing</a></li>
	         	<li><a href="/customers" aria-label="Takes to customers page" title="Customers">Customers</a></li>
	         	<li><a href="/resources" aria-label="Takes to Resources page" title="Resources">Resources</a></li>
	         	<li><a href="/leadership-team" aria-label="Takes to Leadership team page" title="Leadership team">Leadership team</a></li>
	         	<li><a href="/work-with-us" aria-label="Takes to Work with us page" title="Work with us">Work with us</a></li>
	         </ul>
	       </div>
	       <div class="col-md-2">
	         <h3 class="uppercase">Support</h3>
	         <ul>
	         	<li><a href="https://help.viostream.com/" aria-label="Takes to Viostream help center page" title="Help center" target="_blank">Help center</a></li>
	         	<li><a href="https://help.viostream.com/hc/en-us/requests/new" target="_blank" aria-label="Takes to contact support page" title="Contact support">Contact support</a></li>
	         	<li><a href="/privacy-policy" aria-label="Takes to privacy policy page" title="Privacy policy">Privacy policy</a></li>
	         </ul>
	       </div>
	       <div class="col-md-2">
	         <h3 class="uppercase">Get in touch</h3>
	         <ul>
	         	<li><a href="/contact-us" aria-label="Takes to contact us page" title="Contact us">Contact us</a></li>
	         	<li><a href="/request-a-demo" aria-label="Takes to get a trial page" title="Get a trial">Get a demo</a></li>
	         </ul>
	       </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="footer-info">
		  		<div class="social-links">
		  			<a href="https://www.facebook.com/viocorp/" aria-label="Takes to Viostream facebook page" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
		  			<a href="https://twitter.com/viostream" aria-label="Takes to Viostream twitter page" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
		  			<a href="https://www.linkedin.com/company/viostream" aria-label="Takes to Viostream linkedin page" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
		  		</div>
	    		<div class="copyright align-text-bottom">&copy; {{ site.time | date: '%Y' }} Viocorp International Pty. Ltd. All rights reserved.</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
	  analytics.load("rqeH1TYDvrGhU0o8ScEfN2EokQwIufui");
	  analytics.page();
	  }}();
	</script>
</footer>
