<header class="cd-main-header">
		<div class="container-fluid">
			<div class="inner-head">
				<a class="cd-logo" href="/"><img src="/assets/img/viostream-logo.png" alt="Viostream Logo"></a>
				<ul class="cd-header-buttons">
					
					<li><a class="cd-nav-trigger" href="#cd-primary-nav"><span></span></a></li>
					<li><a href="/search/" aria-label="Takes to Search page" title="Search" class="search-btn-mobile"><i class="fa fa-search"></i></a></li>
				</ul> <!-- cd-header-buttons -->
			</div>
		</div>
	</header>


<div class="cd-overlay"></div>
<nav class="cd-nav" role="navigation">
	
	<ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
		<li class="has-children">
			<a href="/platform/" title="Product">Product</a>
			<ul class="cd-secondary-nav">
				<li class="go-back"><a href="#0">All product</a></li>
				<li><a href="/features/" title="Features">Features</a></li>
				<li><a href="/interactivity/" title="Interactivity">Interactivity</a></li>
				<li><a href="/integrations/" title="Integrations">Integrations</a></li>
			</ul>
		</li>

		<li class="has-children">
			<a href="#" title="sdf">Solutions</a>
			<ul class="cd-secondary-nav">
				<li class="go-back"><a href="#0">Menu</a></li>
				<li class="has-children">
					<a class="has-child no-hover" href="#0" title="Function">Function</a>
					<ul class="is-hidden">
						<li class="go-back"><a href="#">All function</a></li>
						<li><a href="/internal-communications/" title="Internal comms">Internal comms</a></li>
						<li><a href="/hr-and-learning/" title="HR / L&D">HR &amp; Learning</a></li>
						<li><a href="/government-communications/" title="Government comms">Government comms</a></li>
						<li><a href="/information-technology/" title="IT">IT</a></li>
					</ul>
				</li>

				<li class="has-children">
					<a class="has-child no-hover" href="#0">Video Process</a>
					<ul class="is-hidden">
						<li class="go-back"><a href="#0">All Video Process</a></li>
						<li><a href="/video-sourcing/" title="Video sourcing">Video sourcing</a></li>
						<li><a href="/live-streaming/" title="Live streaming">Live streaming</a></li>
						<li><a href="/video-hub/" title="Video hosting">Video hub</a></li>
						<li><a href="/video-publishing/" title="Video publishing">Video publishing</a></li>
						<li><a href="/viewer-engagement/" title="Viewer engagement">Viewer engagement</a></li>
					</ul>
				</li>
			</ul>
		</li>

		<li><a href="/pricing/">Pricing</a></li>
		<li><a href="https://blog.viostream.com/" title="Blog">Blog</a></li>
		<li class="has-children">
			<a href="/who-we-are/" title="Company">Company</a>
			<ul class="cd-secondary-nav">
				<li class="go-back"><a href="#0">All company</a></li>
				<li><a href="/who-we-are/" title="Who we are">Who we are</a></li>
				<li><a href="/services/" title="Services">Services</a></li>
				<li><a href="/customers/" title="Customers">Customers</a></li>
				<li><a href="/our-partners/" title="Partners">Partners</a></li>
				<li><a href="/leadership-team/" title="Leadership team">Leadership team</a></li>
				<li><a href="/work-with-us/" title="Work with us">Work with us</a></li>
			</ul>
		</li>
		<li><a href="/contact-us/" title="Contact us">Contact</a></li>
		<li><a href="//app.viostream.com" target="_blank" title="Viostream login">Login</a></li>
		<li class="nav-btn-highlight"><a href="/request-a-demo/" title="Free trial">Free trial</a></li>
		<li ><a href="/search/" aria-label="Takes to Search page" title="Search" class="search-btn"><i class="fa fa-search"></i></a></li>
	</ul> <!-- primary-nav -->
</nav> <!-- cd-nav -->

