<header class="cd-main-header">
	<div class="container-fluid">
		<div class="inner-head">
			<a class="cd-logo" href="/"><img src="/assets/img/viostream-logo.png" alt="Viostream Logo"></a>
			<ul class="cd-header-buttons">
				<li><a class="cd-search-trigger" href="#cd-search">Search<span></span></a></li>
				<li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
			</ul> <!-- cd-header-buttons -->
		</div>
	</div>
</header>

<div class="cd-overlay"></div>
<nav class="cd-nav" role="navigation">
	<ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
		<li class="has-children">
			<a href="/platform">Product</a>
			<ul class="cd-secondary-nav">
				<li class="go-back"><a href="#0">All product</a></li>
				<li><a href="/features">Features</a></li>
				<li><a href="/interactivity">Interactivity</a></li>
				<li><a href="/integrations">Integrations</a></li>
			</ul>
		</li>

		<li class="has-children">
			<a href="#">Business solutions</a>
			<ul class="cd-secondary-nav">
				<li class="go-back"><a href="#0">Menu</a></li>
				<li class="has-children">
					<a class="has-child" href="#0">Function</a>
					<ul class="is-hidden">
						<li class="go-back"><a href="#">All function</a></li>
						<li><a href="/internal-communications">Internal comms</a></li>
						<li><a href="/hr-and-learning">HR / L&amp;D </a></li>
						<li><a href="/government-communications">Government comms</a></li>
						<li><a href="/information-technology">IT</a></li>
					</ul>
				</li>

				<li class="has-children">
					<a class="has-child" href="#0">Video workflow</a>
					<ul class="is-hidden">
						<li class="go-back"><a href="#0">All video workflow</a></li>
						<li><a href="/video-sourcing">Video sourcing</a></li>
						<li><a href="/live-streaming">Live streaming</a></li>
						<li><a href="/video-hosting">Video hosting</a></li>
						<li><a href="/video-distribution">Video distribution</a></li>
						<li><a href="/viewer-engagement">Viewer engagement </a></li>
					</ul>
				</li>
			</ul>
		</li>

		<li><a href="#">Pricing</a></li>
		<li><a href="#">Resources</a></li>
		<li class="has-children">
			<a href="/customers">About</a>
			<ul class="cd-secondary-nav">
				<li class="go-back"><a href="#0">All about</a></li>
				<li><a href="/executive-team">Executive team</a></li>
				<li><a href="/customers">Customers</a></li>
				<li><a href="/careers">Careers</a></li>
			</ul>
		</li>
		<li><a href="/request-a-demo" title="Contact">Contact</a></li>
		<li><a href="//app.viostream.com" title="Viostream login">Login</a></li>
		<li class="nav-btn-highlight"><a href="/request-a-demo" title="Free trial">Free trial</a></li>
	</ul> <!-- primary-nav -->
</nav> <!-- cd-nav -->

<div id="cd-search" class="cd-search">
	<form>
		<input type="search" placeholder="Search...">
	</form>
	
	
</div>