<div class="container">
    <div class="row section-p">
        <section class="pricing-section col-md-12">
            <!-- Lite should have selectable # of videos, Enterprise is unlimited vids -->
            <div class="pricing-table">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2 pricing-cell">
                        Viostream Lite
                        $99/month
                    </div>
                    <div class="col-md-2 pricing-cell">
                        Viostream Enterprise
                        Call us
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2 pricing-cell">
                        Live events
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pricing-cell">
                        Videos included
                    </div>
                    <div class="col-md-2 pricing-cell">
                        50
                    </div>
                    <div class="col-md-2 pricing-cell">
                        Unlimited
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2 pricing cell">
                        Per event
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pricing-cell">
                        Control who can see your content and track their viewing
                    </div>
                    <div class="col-md-2 pricing-cell">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="col-md-2 pricing-cell">
                        <span class="icon icon-yes"></span>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2 pricing cell">
                        <span class="icon icon-yes"></span>
                    </div>
                </div>
            </div>
            <div class="pricing">
                <!-- <div class="pricing-selector">
                        <div class="select">
                            <select class="form-control calculate" id="size" name="size">
                                <option data-price="1000" data-vod="2" data-vodlive="3" value="Small">1-1000 Users</option>
                                <option data-price="2000" data-vod="1.85" data-vodlive="2.7" value="Medium">2000 Users
                                </option>
                                <option data-price="3000" data-vod="1.6" data-vodlive="2.25" value="Large">3000 Users
                                </option>
                                <option data-price="4000" data-vod="1.35" data-vodlive="1.9" value="Large">4000 Users
                                </option>
                                <option data-price="5000" data-vod="1.25" data-vodlive="1.7" value="Large">5000+ Users
                                </option>
                            </select>
                        </div>
                    </div> -->
                <!-- @TODO scrap this shit and go to sproutvideo-like table with ticks -->
                <!-- @TODO add features that we have a la sprout -->
                <!-- 2 columns only, then another light grey column with  events shite -->
            </div>
        </section>
    </div>
