<div class="container m-b-40">
	<div class="row section-p">
		<div id="clients-testimonial" class="carousel slide carousel-fade" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#clients-testimonial" data-slide-to="0" class="active">
		    	<figure>
		    		<img class="d-block img-fluid" src="/assets/img/testimonials/reno-thumb.jpg" alt="Reno">
		    	</figure>
			    <div class="testimonial-logo"><img class="d-block img-fluid" src="/assets/img/testimonials/tedx-sydney-logo.png" alt="TEDx Sydney"></div>
		    </li>
		    <li data-target="#clients-testimonial" data-slide-to="1">
		    	<figure>
		    		<img class="d-block img-fluid" src="/assets/img/testimonials/qbe-thumb.jpg" alt="Reno">
			    </figure>
			    <div class="testimonial-logo"><img class="d-block img-fluid" src="/assets/img/testimonials/qbe-logo.png" alt="QBE"></div>
			</li>
		    <li data-target="#clients-testimonial" data-slide-to="2">
		    	<figure>
		    		<img class="d-block img-fluid" src="/assets/img/testimonials/david-jones-thumb.jpg" alt="David Jones">
		    	</figure>
		    	<div class="testimonial-logo"><img class="d-block img-fluid" src="/assets/img/testimonials/david-jones-logo.png" alt="David Jones"></div>
		    </li>
		    <li data-target="#clients-testimonial" data-slide-to="3">
		    	<figure>
		    		<img class="d-block img-fluid" src="/assets/img/testimonials/shootsta-thumb.jpg" alt="Reno">
		    	<figure>
		    	<div class="testimonial-logo"><img class="d-block img-fluid" src="/assets/img/testimonials/shootsta-logo.png" alt="Shootsta"></div>
		    </li>
		  </ol>
		  <div class="carousel-inner" role="listbox">
		  	<div class="row no-gutters">
		  		<div class="row-eq-height carousel-item active">
			    	<div class="hidden-md-down col-md-6 no-padding testimonial-img">
			      		<a class="iframe-video" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360">
				      		<figure>
				      			<img class="d-block img-fluid" src="/assets/img/testimonials/reno.jpg" alt="Reno">
				      		</figure>
			      		</a>
			      	</div>
			      	<div class="col-md-12 col-lg-6 testimonial-content text-center">
			      			Viostream has been involved with TedxSydney since day one. I enjoy the agile nature of the partnership and that things can happen quickly and flexibly.
				      		<div class="client-info">
				      			<a class="iframe-video testimonail-video-play-btn hidden-lg-up" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
				      			<figure>
	      							<img src="/assets/img/home-play-button.png" alt="Play video button" />
	      						</figure>
	      						</a>
				      			<h3>Remo Giuffre </h3>
				      			Licensee & Director TEDxSydney
				      		</div>
			      	</div>
			    </div>
			    <div class="row-eq-height carousel-item">
			    	<div class="hidden-md-down col-md-6 no-padding testimonial-img">
			      		<a class="iframe-video" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
				      		<figure>
			      				<img class="d-block img-fluid" src="/assets/img/testimonials/reno.jpg" alt="Reno"></a>
			      			</figure>
			      		</a>
			      	</div>
			      	<div class="col-md-12 col-lg-6 testimonial-content text-center">
			      			Viostream has been involved with TedxSydney since day one. I enjoy the agile nature of the partnership and that things can happen quickly and flexibly.
			          		<div class="client-info">
			          			<a class="iframe-video testimonail-video-play-btn hidden-lg-up" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
      							<figure>
      								<img src="/assets/img/home-play-button.png" alt="Play video button" />
      							</figure>
      							</a>
			          			<h3>Remo Giuffre </h3>
			          			Licensee & Director TEDxSydney
			          		</div>
			      	</div>
			    </div>
			    <div class="row-eq-height carousel-item">
			    	<div class="hidden-md-down col-md-6 no-padding testimonial-img">
			      		<a class="iframe-video" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
				      		<figure>
			      				<img class="d-block img-fluid" src="/assets/img/testimonials/reno.jpg" alt="Reno"></a>
			      			</figure>
			      		</a>
			      	</div>
			      	<div class="col-md-12 col-lg-6 testimonial-content text-center">
			      			Viostream has been involved with TedxSydney since day one. I enjoy the agile nature of the partnership and that things can happen quickly and flexibly.
			          		<div class="client-info">
			          			<a class="iframe-video testimonail-video-play-btn hidden-lg-up" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
		          				<figure>
	          						<img src="/assets/img/home-play-button.png" alt="Play video button" />
	          					</figure>
		          				</a>
			          			<h3>Remo Giuffre </h3>
			          			Licensee & Director TEDxSydney
			          		</div>
			      	</div>
			    </div>
			    <div class="row-eq-height carousel-item">
			    	<div class="hidden-md-down col-md-6 no-padding testimonial-img">
			      		<a class="iframe-video" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
			      			<figure>
		      					<img class="d-block img-fluid" src="/assets/img/testimonials/reno.jpg" alt="Reno"></a>
		      				</figure>
			      		</a>
			      	</div>
			      	<div class="col-md-12 col-lg-6 testimonial-content text-center">
			      			Viostream has been involved with TedxSydney since day one. I enjoy the agile nature of the partnership and that things can happen quickly and flexibly.
			          		<div class="client-info">
			          			<a class="iframe-video testimonail-video-play-btn hidden-lg-up" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
		          				<figure>
	          						<img src="/assets/img/home-play-button.png" alt="Play video button" />
	          					</figure>
		          				</a>
			          			<h3>Remo Giuffre </h3>
			          			Licensee & Director TEDxSydney
			          		</div>
			      	</div>
			    </div>
			</div>
		  </div>
		</div>
	</div>
</div>