<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2 class="section-title">What our customers say about us</h2>
		</div>
	</div>
</div>
<div class="container p-b-50">
	<div class="row">
		<div id="clients-testimonial" class="carousel slide carousel-fade" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#clients-testimonial" data-slide-to="0" class="active">
		    	<figure>
		    		<img class="d-block img-fluid" src="/assets/img/testimonials/caitlin-morris-thumb.jpg" alt="Caitlin Morris">
		    	</figure>
			    <div class="testimonial-logo"><img class="d-block img-fluid" src="/assets/img/testimonials/nab-logo.jpg" alt="NAB"></div>
		    </li>
		    <li data-target="#clients-testimonial" data-slide-to="1">
		    	<figure>
		    		<img class="d-block img-fluid" src="/assets/img/testimonials/jacquelyn-stevens-thumb.jpg" alt="Jacquelyn Stevens">
			    </figure>
			    <div class="testimonial-logo"><img class="d-block img-fluid" src="/assets/img/testimonials/bupa-logo.jpg" alt="Bupa"></div>
			</li>
		    <li data-target="#clients-testimonial" data-slide-to="2">
		    	<figure>
		    		<img class="d-block img-fluid" src="/assets/img/testimonials/jeva-centeno-thumb.jpg" alt="Jeva Centeno">
		    	</figure>
		    	<div class="testimonial-logo"><img class="d-block img-fluid" src="/assets/img/testimonials/qbe-logo.png" alt="David Jones"></div>
		    </li>
		    <li data-target="#clients-testimonial" data-slide-to="3">
		    	<figure>
		    		<img class="d-block img-fluid" src="/assets/img/testimonials/reno-thumb.jpg" alt="Reno">
		    	</figure>
		        <div class="testimonial-logo"><img class="d-block img-fluid" src="/assets/img/testimonials/tedx-sydney-logo.png" alt="TEDx Sydney"></div>
		    </li>
		    <li data-target="#clients-testimonial" data-slide-to="4">
		    	<figure>
		    		<img class="d-block img-fluid" src="/assets/img/testimonials/kate-sullivan-thumb.jpg" alt="Kate Sullivan">
		    	<figure>
		    	<div class="testimonial-logo"><img class="d-block img-fluid" src="/assets/img/testimonials/dept-of-health-logo.jpg" alt="Department of health"></div>
		    </li>
		  </ol>
		  <div class="carousel-inner" role="listbox">
		  	<div class="row no-gutters">
		  		<div class="row-eq-height carousel-item active">
			    	<div class="hidden-md-down col-md-6 no-padding testimonial-img">
			      		<a class="iframe-video play-btn" href="http://publish.viostream.com/embed/player?video=ctoaztb7fufhk&amp;playerKey=s-bynt639&amp;width=640&amp;height=360">
				      		<figure>
				      			<img class="d-block img-fluid" src="/assets/img/testimonials/caitlin-morris.jpg" alt="Caitlin Morris">
				      		</figure>
			      		</a>
			      	</div>
			      	<div class="col-md-12 col-lg-6 testimonial-content text-center">
			      			A lot of our audience is time poor or on the road, so videos are a really effective way of communicating a long message in a short, visual and easy to absorb way
				      		<div class="client-info">
				      			<a class="iframe-video testimonial-video-play-btn hidden-lg-up" href="http://publish.viostream.com/embed/player?video=ctoaztb7fufhk&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
				      			<figure>
	      							<img src="/assets/img/home-play-btn.png" alt="Play video button" />
	      						</figure>
	      						</a>
				      			<h3 class="mt-3 t-white">Caitlin Morris</h3>
				      			Channel & Change Communications Associate
				      		</div>
			      	</div>
			    </div>
			    <div class="row-eq-height carousel-item">
			    	<div class="hidden-md-down col-md-6 no-padding testimonial-img">
			      		<a class="iframe-video play-btn" href="http://publish.viostream.com/embed/player?video=ctoaztb7fpnjp&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
				      		<figure>
			      				<img class="d-block img-fluid" src="/assets/img/testimonials/jacquelyn-stevens.jpg" alt="Jacquelyn Stevens"></a>
			      			</figure>
			      		</a>
			      	</div>
			      	<div class="col-md-12 col-lg-6 testimonial-content text-center">
			      			We really had challenges reaching our audience due to bandwidth issues and network connection… Viostream certainly helps us in that regard but it’s also really made us think differently about video and that’s really exciting
			          		<div class="client-info">
			          			<a class="iframe-video testimonial-video-play-btn hidden-lg-up" href="http://publish.viostream.com/embed/player?video=ctoaztbnq7s1b&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
      							<figure>
      								<img src="/assets/img/home-play-btn.png" alt="Play video button" />
      							</figure>
      							</a>
			          			<h3 class="mt-3 t-white">Jacquelyn Stevens</h3>
			          			Digital Content Manager - BUPA
			          		</div>
			      	</div>
			    </div>
			    <div class="row-eq-height carousel-item">
			    	<div class="hidden-md-down col-md-6 no-padding testimonial-img">
			      		<a class="iframe-video play-btn" href="http://publish.viostream.com/embed/player?video=ctoaztbnq7s1b&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
				      		<figure>
			      				<img class="d-block img-fluid" src="/assets/img/testimonials/jeva-centeno.jpg" alt="Jeva Centeno"></a>
			      			</figure>
			      		</a>
			      	</div>
			      	<div class="col-md-12 col-lg-6 testimonial-content text-center">
			      			We need to work with somebody that is completely reliable and trustworthy and that’s why we work with Viostream
			          		<div class="client-info">
			          			<a class="iframe-video testimonial-video-play-btn hidden-lg-up" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
		          				<figure>
	          						<img src="/assets/img/home-play-btn.png" alt="Play video button" />
	          					</figure>
		          				</a>
			          			<h3 class="mt-3 t-white">Jeva Centeno</h3>
			          			Investor Relations Manager - QBE
			          		</div>
			      	</div>
			    </div>
			    <div class="row-eq-height carousel-item">
			    	<div class="hidden-md-down col-md-6 no-padding testimonial-img">
			      		<a class="iframe-video play-btn" href="http://publish.viostream.com/embed/player?video=ctoazt9px9nr&amp;playerKey=s-bynt639&amp;width=640&amp;height=360">
			          		<figure>
			          			<img class="d-block img-fluid" src="/assets/img/testimonials/reno.jpg" alt="Reno">
			          		</figure>
			      		</a>
			      	</div>
			      	<div class="col-md-12 col-lg-6 testimonial-content text-center">
			      			Viostream has been involved with TEDxSydney since day 1. I enjoy the agile nature of the partnership and that things can happen quickly and flexibly.
			      			
			          		<div class="client-info">
			          			<a class="iframe-video testimonial-video-play-btn hidden-lg-up" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
			          			<figure>
			    						<img src="/assets/img/home-play-btn.png" alt="Play video button" />
			    					</figure>
			    					</a>
			          			<h3 class="mt-3 t-white">Remo Giuffre </h3>
			          			TEDx Sydney
			          		</div>
			      	</div>
			    </div>
			    <div class="row-eq-height carousel-item">
			    	<div class="hidden-md-down col-md-6 no-padding testimonial-img">
			      		<a class="iframe-video play-btn" href="http://publish.viostream.com/embed/player?video=ctoaztb3jcrko&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
			      			<figure>
		      					<img class="d-block img-fluid" src="/assets/img/testimonials/kate-sullivan.jpg" alt="Kate Sullivan"></a>
		      				</figure>
			      		</a>
			      	</div>
			      	<div class="col-md-12 col-lg-6 testimonial-content text-center">
			      			We use Health TV as one of our main internal communication channels.
			          		<div class="client-info">
			          			<a class="iframe-video testimonial-video-play-btn hidden-lg-up" href="http://publish.viostream.com/embed/player?video=ctoaztb3jcrko&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
		          				<figure>
	          						<img src="/assets/img/home-play-btn.png" alt="Play video button" />
	          					</figure>
		          				</a>
			          			<h3 class="mt-3 t-white">Kate Sullivan </h3>
			          			Acting Director - Corporate Communications <br/>Department of Health 
			          		</div>
			      	</div>
			    </div>
			</div>
		  </div>
		</div>
	</div>
</div>