---
layout: default
---


  {{ content }}

<section class="home-banner text-center">
    <div class="container-fluid">
       <h1 class="main-title t-white">The Enterprise Video Platform</h1>
       <h2 class="hero-subtitle t-white">for driving engagement</h2>
      
       <a class="iframe-video m-tb-50" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360">
       <img src="/assets/img/home-play-button.png" alt="Play video" />
       </a>
       
       
       <p>
         <a href="#" class="btn btn-primary btn-lined uppercase m-r-20">Free trial</a>
         <a href="#" class="btn btn-primary uppercase">Plan &amp; Pricing</a>
       </p>
       
    </div>
</section>
<div class="container-fluid client-logos">
	<div class="container">
		<div class="row text-center">
			<div class="col-4 col-md-2">
				<img src="/assets/img/client-logos/Macquarie-logo.png" alt="Macquarie" />
			</div>
			<div class="col-4 col-md-2">
				<img src="/assets/img/client-logos/dimension-data-logo.png" alt="Dimension data" />
			</div>
			<div class="col-4 col-md-2">
				<img src="/assets/img/client-logos/google-logo.png" alt="Google" />
			</div>
			<div class="col-4 col-md-2">
				<img src="/assets/img/client-logos/deloitte-logo.png" alt="Deloitte" />
			</div>
			<div class="col-4 col-md-2">
				<img src="/assets/img/client-logos/westfield-logo.png" alt="Westfield" />
			</div>
			<div class="col-4 col-md-2">
				<img src="/assets/img/client-logos/QBE-logo.png" alt="QBE" />
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row text-center section-p">
		<div class="col-12 col-md-4">
			<div class="welcome">
				<h3 class="uppercase m-b-20">Problem</h3>
				<p>Business and technology leaders want to replicate the consumer video experience inside.	 </p>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="welcome">
				<h3 class="uppercase m-b-20">Solution</h3>
				<p>Viostream is a simple to use video hub that integrates with your existing enterprise . </p>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="welcome">
				<h3 class="uppercase m-b-20">Benefit</h3>
				<p>Viostream makes it easy to use streaming video securely to deliver messages and updates.</p>
			</div>
		</div>
	</div>
</div>

<div class="cd-tabs">
	<nav>
		<ul class="cd-tabs-navigation">
			<li><a data-content="video-sourcing" class="selected" href="#0">Video sourcing</a></li>
			<li><a data-content="live-streaming" href="#0">Live streaming</a></li>
			<li><a data-content="video-hub" href="#0">Video hub</a></li>
			<li><a data-content="video-distribution" href="#0">Video distribution</a></li>
			<li><a data-content="viewer-engagement" href="#0">Viewer engagement</a></li>
		</ul> <!-- cd-tabs-navigation -->
	</nav>

	<ul class="cd-tabs-content">
		<li data-content="video-sourcing" class="selected">
			<div class="container" style="max-width:100%">
			      <div class="row">
			        <div class="col-md-6">
			        	<h2 class="m-b-20">Video sourcing</h2>
			        <p>Use your existing mobile devices to capture video. Record presentations and training sessions from your video or web conference systems.</p>
			        <a href="#" class="btn btn-primary">Learn more</a>	
			        </div>
			        <div class="col-md-6"><img src="/assets/img/video-workflow/video-sourcing.png" alt="Video sourcing" /></div>
			      </div>
			</div>
		</li>

		<li data-content="live-streaming">
			<div class="container" style="max-width:100%">
			      <div class="row">
			        <div class="col-md-6">
			        	<h2 class="m-b-20">Live streaming</h2>
			        <p>Broadcast secure, reliable live streams to connect with your audience wherever they are, with online Q&amp;A and polling to engage them in real-time.</p>
			        <a href="#" class="btn btn-primary">Learn more</a>	
			        </div>
			        <div class="col-md-6"><img src="/assets/img/video-workflow/video-sourcing.png" alt="Video sourcing" /></div>
			      </div>
			</div>
		</li>

		<li data-content="video-hub">
			<div class="container" style="max-width:100%">
			      <div class="row">
			        <div class="col-md-6">
			        	<h2 class="m-b-20">Video hub</h2>
			        <p>Manage all of your video assets securely in the cloud with tagging and speech search to make sure your people can easily find the content they’re after.</p>
			        <a href="#" class="btn btn-primary">Learn more</a>	
			        </div>
			        <div class="col-md-6"><img src="/assets/img/video-workflow/video-sourcing.png" alt="Video sourcing" /></div>
			      </div>
			</div>
		</li>

		<li data-content="video-distribution">
			<div class="container" style="max-width:100%">
			      <div class="row">
			        <div class="col-md-6">
			        	<h2 class="m-b-20">Video distribution</h2>
			        <p>Integrate streaming video into your intranet, digital workplace, LMS or website and support video viewing at scale with intelligent distribution across your corporate network. </p>
			        <a href="#" class="btn btn-primary">Learn more</a>	
			        </div>
			        <div class="col-md-6"><img src="/assets/img/video-workflow/video-sourcing.png" alt="Video sourcing" /></div>
			      </div>
			</div>
		</li>

		<li data-content="viewer-engagement">
			<div class="container" style="max-width:100%">
			      <div class="row">
			        <div class="col-md-6">
			        	<h2 class="m-b-20">Viewer engagement</h2>
			        <p>Interactive video with clickable chapters, calls to action or searchable dialogue and deep insight into audience engagement through analytics.</p>
			        <a href="#" class="btn btn-primary">Learn more</a>	
			        </div>
			        <div class="col-md-6"><img src="/assets/img/video-workflow/video-sourcing.png" alt="Video sourcing" /></div>
			      </div>
			</div>
		</li>
	</ul> <!-- cd-tabs-content -->
</div>
<div class="container">
	<div class="row text-center section-p">
		<div class="col-12 col-md-4">
			<div class="welcome">
				<img src="/assets/img/welcome/problem.jpg" class="m-b-40" alt="Problem" />
				<h3 class="uppercase m-b-20">Problem</h3>
				<p>Business and technology leaders want to replicate the consumer video experience inside.	 </p>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="welcome">
				<img src="/assets/img/welcome/solution.jpg" class="m-b-40" alt="Solution" />
				<h3 class="uppercase m-b-20">Solution</h3>
				<p>Viostream is a simple to use video hub that integrates with your existing enterprise . </p>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="welcome">
				<img src="/assets/img/welcome/benefit.jpg" class="m-b-40" alt="Benefit" />
				<h3 class="uppercase m-b-20">Benefit</h3>
				<p>Viostream makes it easy to use streaming video securely to deliver messages and updates.</p>
			</div>
		</div>
	</div>
</div>

<div class="container m-b-40">
	<div class="row section-p">
		<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"><img class="d-block img-fluid" src="/assets/img/testimonials/reno-thumb.jpg" alt="First slide"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"><img class="d-block img-fluid" src="/assets/img/testimonials/qbe-thumb.jpg" alt="First slide"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"><img class="d-block img-fluid" src="/assets/img/testimonials/david-jones-thumb.jpg" alt="First slide"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="3"><img class="d-block img-fluid" src="/assets/img/testimonials/shootsta-thumb.jpg" alt="First slide"></li>
		  </ol>
		  <div class="carousel-inner" role="listbox">
		  	<div class="row no-gutters">
		  		<div class="row-eq-height carousel-item active">
			    	<div class="col-12 col-md-6 no-padding">
			      		<a class="iframe-video" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360"><img class="d-block img-fluid" src="/assets/img/testimonials/reno.jpg" alt="First slide"></a>
			      	</div>
			      	<div class="col-12 col-md-6 testimonial-content">
			      			Viostream has been involved with TedxSydney since day one. I enjoy the agile nature of the partnership and that things can happen quickly and flexibly.
				      		<div class="client-info">
				      			<h3>Remo Giuffre </h3>
				      			Licensee & Director TEDxSydney
				      		</div>
			      	</div>
			    </div>
			    <div class="row-eq-height carousel-item">
			    	<div class="col-12 col-md-6 no-padding">
			      		<a class="iframe-video" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360"><img class="d-block img-fluid" src="/assets/img/testimonials/qbe.jpg" alt="First slide"></a>
			      	</div>
			      	<div class="col-12 col-md-6 testimonial-content">
			      			Viostream has been involved with TedxSydney since day one. I enjoy the agile nature of the partnership and that things can happen quickly and flexibly.
			          		<div class="client-info">
			          			<h3>Remo Giuffre </h3>
			          			Licensee & Director TEDxSydney
			          		</div>
			      	</div>
			    </div>
			    <div class="row-eq-height carousel-item">
			    	<div class="col-12 col-md-6 no-padding">
			      		<a class="iframe-video" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360"><img class="d-block img-fluid" src="/assets/img/testimonials/reno.jpg" alt="First slide"></a>
			      	</div>
			      	<div class="col-12 col-md-6 testimonial-content">
			      			Viostream has been involved with TedxSydney since day one. I enjoy the agile nature of the partnership and that things can happen quickly and flexibly.
			          		<div class="client-info">
			          			<h3>Remo Giuffre </h3>
			          			Licensee & Director TEDxSydney
			          		</div>
			      	</div>
			    </div>
			    <div class="row-eq-height carousel-item">
			    	<div class="col-12 col-md-6 no-padding">
			      		<a class="iframe-video" href="http://publish.viostream.com/embed/player?video=ctoaztbuhw9ec&amp;playerKey=s-bynt639&amp;width=640&amp;height=360"><img class="d-block img-fluid" src="/assets/img/testimonials/reno.jpg" alt="First slide"></a>
			      	</div>
			      	<div class="col-12 col-md-6 testimonial-content">
			      			Viostream has been involved with TedxSydney since day one. I enjoy the agile nature of the partnership and that things can happen quickly and flexibly.
			          		<div class="client-info">
			          			<h3>Remo Giuffre </h3>
			          			Licensee & Director TEDxSydney
			          		</div>
			      	</div>
			    </div>
			</div>
		  </div>
		</div>
	</div>
</div>
