---
layout: default
---

  {{ content }}


<div class="video-bg">
    <div class="video-fg">
      <video pplaysinline autoplay muted loop id="home-bg-video">
      	<source src="/assets/videos/hero-video.mp4" type="video/mp4">
      </video>
    </div>
</div>
<div class="home-banner text-center" role="banner">
    <div class="container-fluid">
    	
    	<div class="container home-hero">
			<h1 class="main-title t-white">Engage your people with video</h1>
			
			<a class="iframe-video-home mb-5" style="display: block;" href="http://publish.viostream.com/embed/player?video=ctoaztbhz5dtc&amp;playerKey=s-bynt639&amp;width=640&amp;height=360" aria-label="Plays a video in a lightbox" title="Play video button">
			<img src="/assets/img/home-play-btn.png" alt="Play video" />
			</a>
	       <p>
	         <a href="/request-a-demo" class="btn btn-primary btn-lined uppercase m-r-20" aria-label="Takes to free trial form page" title="Free trial button">Get a Demo</a>
	         <a href="/pricing" class="btn btn-primary uppercase" aria-label="Takes to pricing page" title="Plan and pricing button">Plan &amp; Pricing</a>
	       </p>
       </div>
    </div>
    <div class="container-fluid client-logos">
    	<div class="container">
    		<div class="row text-center">
    			<div class="col-4 col-md-2">
    				<figure>
    					<img src="/assets/img/client-logos/nab-logo.png" alt="NAB logo" />
    				</figure>
    			</div>
    			<div class="col-4 col-md-2">
    				<figure>
    					<img src="/assets/img/client-logos/dimension-data-logo.png" alt="Dimension data logo" />
    				<figure>
    			</div>
    			<div class="col-4 col-md-2">
    				<figure>
    					<img src="/assets/img/client-logos/nbn-logo.png" alt="NBN logo" />
    				</figure>
    			</div>
    			<div class="col-4 col-md-2">
    				<figure>
    					<img src="/assets/img/client-logos/optus-logo.png" alt="Optus logo" />
    				</figure>
    			</div>
    			<div class="col-4 col-md-2">
    				<figure>
    					<img src="/assets/img/client-logos/suncorp-logo.png" alt="Suncorp logo" />
    				</figure>
    			</div>
    			<div class="col-4 col-md-2">
    				<figure>
    					<img src="/assets/img/client-logos/ato-logo.png" alt="ATO logo" />
    				</figure>
    			</div>
    		</div>
    	</div>
    </div>
</div>

<div class="wrapper">
	<div class="container">
		<div class="row align-v-center section-p">
			<div class="col-md-6">
					<div class="left text">
					<h2>Bring the consumer video experience inside your organisation to reach and engage your workforce wherever they are. </h2>
					<p>Viostream makes it easy for you and your people to create, publish and watch live or recorded video from any device, without breaking the corporate network and giving you complete control over who can access it.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="right">
					<script src="https://publish.viostream.com/player/ctoaztbhz5dtc"></script>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="section-title">Workflow</h2>
			</div>
		</div>
	</div>
	<div class="cd-tabs">
		<nav>
			<ul class="cd-tabs-navigation">
				<li><a data-content="video-sourcing" class="selected" href="#0" aria-label="Tab link to show Video sourcing content below" title="Video sourcing tab link">Video sourcing</a></li>
				<li><a data-content="live-streaming" href="#0" aria-label="Tab link to show Live streaming content below" title="Live streaming tab link">Live streaming</a></li>
				<li><a data-content="video-hub" href="#0" aria-label="Tab link to show Video hub content below" title="Video hub tab link">Video hub</a></li>
				<li><a data-content="video-distribution" href="#0" aria-label="Tab link to show Video distribution content below" title="Video distribution tab link">Video distribution</a></li>
				<li><a data-content="viewer-engagement" href="#0" aria-label="Tab link to show Viewer engagement content below" title="Viewer engagement tab link">Viewer engagement</a></li>
			</ul> <!-- cd-tabs-navigation -->
		</nav>
	
		<ul class="cd-tabs-content">
			<li data-content="video-sourcing" class="selected">
				<div class="container" style="max-width:100%">
				      <div class="row">
				        <div class="col-md-6">
				        	<h2 class="m-b-20">Video sourcing</h2>
					        <p>Use your existing mobile devices to capture video. Record presentations and training sessions from your video or web conference systems.</p>
					        <a href="#" class="btn btn-primary" aria-label="Takes to video sourcing page" title="Learn more button">Learn more</a>	
				        </div>
				        <div class="col-md-6">
				        	<figure>
				        		<img src="/assets/img/video-workflow/video-sourcing.png" alt="Video sourcing" />
				        	</figure>
				        </div>
				      </div>
				</div>
			</li>
	
			<li data-content="live-streaming">
				<div class="container" style="max-width:100%">
				      <div class="row">
				        <div class="col-md-6">
				        	<h2 class="m-b-20">Live streaming</h2>
					        <p>Broadcast secure, reliable live streams to connect with your audience wherever they are, with online Q&amp;A and polling to engage them in real-time.</p>
					        <a href="#" class="btn btn-primary" aria-label="Takes to live streaming page" title="Learn more button">Learn more</a>	
				        </div>
				        <div class="col-md-6">
				        	<figure>
				        		<img src="/assets/img/video-workflow/live-streaming.jpg" alt="Live streaming" />
				        	</figure>
						</div>
				</div>
			</li>
	
			<li data-content="video-hub">
				<div class="container" style="max-width:100%">
				      <div class="row">
				        <div class="col-md-6">
				        	<h2 class="m-b-20">Video hub</h2>
					        <p>Manage all of your video assets securely in the cloud with tagging and speech search to make sure your people can easily find the content they’re after.</p>
					        <a href="#" class="btn btn-primary" aria-label="Takes to video hub page" title="Learn more button">Learn more</a>	
				        </div>
				        <div class="col-md-6">
				        	<figure>
				        		<img src="/assets/img/video-workflow/video-hub.jpg" alt="Video hub" />
				        	</figure>
				        </div>
				      </div>
				</div>
			</li>
	
			<li data-content="video-distribution">
				<div class="container" style="max-width:100%">
				      <div class="row">
				        <div class="col-md-6">
				        	<h2 class="m-b-20">Video distribution</h2>
				        <p>Integrate streaming video into your intranet, digital workplace, LMS or website and support video viewing at scale with intelligent distribution across your corporate network. </p>
				        <a href="#" class="btn btn-primary">Learn more</a>	
				        </div>
				        <div class="col-md-6">
					        <figure>
					        	<img src="/assets/img/video-workflow/video-distribution.jpg" alt="Video distribution" />
					        </figure>
				        </div>
				      </div>
				</div>
			</li>
	
			<li data-content="viewer-engagement">
				<div class="container" style="max-width:100%">
				      <div class="row">
				        <div class="col-md-6">
				        	<h2 class="m-b-20">Viewer engagement</h2>
					        <p>Interactive video with clickable chapters, calls to action or searchable dialogue and deep insight into audience engagement through analytics.</p>
					        <a href="#" class="btn btn-primary">Learn more</a>	
				        </div>
				        <div class="col-md-6">
				        	<figure>
				        		<img src="/assets/img/video-workflow/viewer-engagement.jpg" alt="Viewer engagement" />
				        	</figure>
				        </div>
				      </div>
				</div>
			</li>
		</ul> <!-- cd-tabs-content -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="section-title">Product overview</h2>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-12 col-md-4">
				<div class="welcome">
					<figure>
						<img src="/assets/img/welcome/features.jpg" class="m-b-20" alt="Features" />
					</figure>
					<h3 class="uppercase m-b-20">Features</h3>
					<p>Making and watching video is second nature in our personal lives. Viostream brings that capability into your organisation, with the security and control that enterprises need.	 </p>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="welcome">
					<figure>
						<img src="/assets/img/welcome/interactivity.jpg" class="m-b-20" alt="Interactivity" />
					</figure>
					<h3 class="uppercase m-b-20">Interactivity</h3>
					<p>Video is a great way to get your people’s attention, and you can do more than just a play button to drive interaction with your message.</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="welcome">
					<figure>
						<img src="/assets/img/welcome/integrations.jpg" class="m-b-20" alt="Integrations" />
					</figure>
					<h3 class="uppercase m-b-20">Integrations</h3>
					<p>Capture video using the tools you already have, and seamlessly integrate this content to upgrade the video capability of your communication channels.
					</p>
				</div>
			</div>
		</div>
	</div>

	{% include quotes.html %}
</div>